body {background-color: #D5BDDE;}
body {color: #102B5C;}
@font-face {
    font-family: "Merriweather";
    src: url(Merriweather-Italic-VariableFont_opsz\,wdth\,wght.woff2)
}
h1 {font-family: "Merriweather";}
h2 {font-family: "Merriweather2";}

@font-face {
    font-family: "Merriweather2";
    src: url(Merriweather-VariableFont_opsz\,wdth\,wght.woff2);
}
p {font-family: "Merriweather2";}

.p1 {font-family: "Merriweather2";}
dl {font-family: "Merriweather2";}

img {max-width: 100%;
height: auto;}

main {font-family: "Merriweather2";}

dl {border: 3px solid #DE8ED5;
    margin: auto;
    border-radius: 8px;
    width: 180px;
}
dl {margin-bottom: 2rem;
margin-top: 2rem;}
h3 *{margin-bottom: 0.3rem;}
 
.p5 {margin-top: 3rem;}
section {margin-top: 1rem;
margin-bottom: 2rem;}

section {border: 3px solid #DE8ED5;
border-width: 3px;
border-radius: 8px;
width: 20rem;
}

.section27 {
    border: 3px solid #DE8ED5;
    padding: 10px;
}

article{
    font-size: 40px;
    border: 3px solid  #DE8ED5;
    background-color: #FFF176;
    width: 120px;
    font-family: "Merriweather";
    border-radius:10px;
    font-family: "Serif Display";

    
}

@font-face {
    font-family: "Serif Display";
    src: url(https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap);
}